.header {
  min-height: 47px;
  &__logo {
    margin-top: 36px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 47px;
  }

  &__contacts {
    color: $second-color;
    font-family: "Avenir", serif;
    font-size: 13px;
    margin-top: 36px;
  }
}
