.percentage {
  margin-top: 60px;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 202px;
    border-radius: 5px;
    border: 2px dashed #0e5ea1;
  }
  &__text{
    //margin-top: 47px;
  }

  &__description {
    font-weight: 700;
    font-size: 30px;
    //line-height: 40px;

    color: #181717;
    line-height: 35px;

    &_subheader {
      margin-top: 17px;

      color: #181717;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
    }
  }

  &__office {
    max-width: 100%;
  }

  &__send_request button{
    margin-top: 41px;
    width: 270px;
    height: 60px;
    border-radius: 5px;
    background-color: $second-color;
    color: #ffffff;
    font-family: "Avenir", serif;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: uppercase;
  }
}
